#boutique_top {
    display: flex;
    width: 95%;
}

#boutique_top p {
    margin-left: auto;
}

#boutique {
    display: flex;
    flex-wrap: wrap;
}

.carte {
    margin-bottom: 25px;
    width: 30%;
    text-align: center;
}

.carte div {
    display: flex;
    min-width: 25%;
    max-width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.div-achat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-achat {
    background-color: #62ff6a;
    margin-top: 4px;
}

.btn-detail {
    background-color: #84b9ff;
}

.btn-achat, .btn-detail {
    padding: 6px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    width: 60px;
    transition: 0.5s;
}

.btn-achat, .btn-detail {
    display: none;
}


.carte:hover .btn-achat {
    display: block;
}

.carte:hover .btn-detail {
    display: block;
}

.btn-achat:hover {
    background-color: #84ffde;
    cursor: pointer;
}

.btn-detail:hover {
    background-color: #d2bbff;
    cursor: pointer;
}

.carte h5 {
    margin-top: 3px;
}

.image {
    max-width: 80px;
    max-height: 80px;
    filter: drop-shadow(4px 6px 4px green);
}

.coutBoutique {
    font-size: 13px;
    height: 20px;
    padding: 3px;
    min-width: 25px;
    max-width: 150px;
    margin-left: 5px;
    text-align: center;
    border: rgb(94, 94, 255) ridge 1px;
    border-radius: 10px;
    box-shadow: 4px 3px 2px rgb(63, 63, 255);
}